@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: auto;
  }
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  color: #708598;
  font-size: 0.75rem;
  background-color: white;
}

.row-1 {
  padding: 9px 0;
  background-color: #FAFBFC;
}

.row-1__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-1__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-1__location p {
  margin-left: 8px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__li:not(:last-of-type) {
  margin-right: 24px;
}

.row-2 {
  padding: 14px 0;
}

.row-2__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-2__body > *:not(:last-of-type) {
  margin-right: 24px;
}

.logo {
  max-width: 221px;
  max-height: 48px;
}

.catalog {
  padding: 15px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #050F19;
  background-color: #FED83D;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.catalog p {
  margin-left: 10px;
}

.catalog:hover {
  cursor: pointer;
  background-color: #f5d03d;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search input {
  width: 100%;
  padding: 14px 8px;
  border: 1px solid #ECEFF1;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.search input::-webkit-input-placeholder {
  font-size: 14px;
}

.search input:-ms-input-placeholder {
  font-size: 14px;
}

.search input::-ms-input-placeholder {
  font-size: 14px;
}

.search input::placeholder {
  font-size: 14px;
}

.search input:focus {
  border: 1px solid #33a8f7;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.search__items {
  position: absolute;
  max-height: 20rem;
  overflow: auto;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.search__items div {
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.search__items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 16px;
  background-color: #FAFBFC;
  border: 1px solid #ECEFF1;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.list p {
  margin-left: 8px;
}

.list:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}

.user {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: #9B51E0;
}

.sprite {
  background-image: url(../img/sprites/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-down {
  width: 10px;
  height: 6px;
  background-position: -5px -5px;
  margin-left: 8px;
}

.sprite-list {
  position: relative;
  width: 18px;
  height: 22px;
  background-position: -25px -5px;
}

.sprite-list::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #E92F2F;
  border: 2px solid #FAFBFC;
  top: -3px;
  right: -3px;
  border-radius: 50%;
}

.sprite-location {
  width: 14px;
  height: 16px;
  background-position: -5px -37px;
}

.sprite-menu {
  width: 20px;
  height: 20px;
  background-position: -53px -5px;
}

.sprite-search {
  width: 20px;
  height: 20px;
  background-position: -53px -35px;
  position: absolute;
  right: 10px;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */